@model IEnumerable<ApsRedes.Models.Player>

@{
    ViewBag.Title = "Lobby";
}

<h2>Lobby</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("EditPlayer", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Play", "TicTacToeLobby", "TicTacToe")
        </td>
    </tr>
}
</table>
